/*
* Style Name: Rare Earth
* Style Author: Ryan Huff
* Copyright: &copy;2011 MycodeTree.com All Rights Reserved 
*/

/* BOXES */
#semBoundaryBox {
	border: 1px solid #509621;
	width: 600px;	
	-webkit-border-radius: 5px;	
	-moz-border-radius: 5px;	
	border-radius: 5px;
}
#semTitleBox {	
	background-color: #F48F00;	
	color: White;	
	font-family: Helvetica, Verdana, Tahoma, Arial;	
	font-weight: bold;	
	font-size: 14px;	
	text-align: center;
}
#semDetailsBox {	
	margin: 5px;	
	text-align: left;
}
#semExportBox {	
	text-align: center;	
	margin: 5px;
}
#semTzBox {	
	background-color: #F48F00;	
	-webkit-border-radius: 5px;	
	-moz-border-radius: 5px;	
	border-radius: 5px;	
	padding: 5px;	
	margin-left: 5px;	
	margin-right: 5px;
}
#semSocialBox { 	
	border-top: 1px solid #BBB;	
	background-color: #F48F00;	
	text-align: left;
}
#semFooterBox {	
	font-size: 9px;	
	font-style: italic;	
	background-color: #F48F00;	
	text-align: center;
}
#semInfoBox {	
	padding: 3px;	
	margin: 3px;	
	background-color: #ddd;	
	border: 1px dashed #509621;
}
/* LABELS */
#labels {	
	font-weight: bold;
}
#exportOptionLabel {	
	text-align: center;	
	font-weight: bold;	
	background-color: #550000;	
	-webkit-border-radius: 5px;	
	-moz-border-radius: 5px;	
	border-radius: 5px;
	color: white;
}
/* LINKS */
#semIcalLink {	
}
#semNewZoneLink {	
}
/* MISC */
#row {	
	text-align: right;	
	margin: 0px;	
	padding: 0px;
}
#googleBtn {	
	margin-top: 10px;
}
#googleBtnLnk {	
}
#semClientSelector {	
	font-size: 90%;	
	background-color: #ddd;
}